.mainContainer h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top:161px;
}

.mainContainer h2:last-of-type{
    margin-top:98px;
}

.cardsWrapperOne,
.cardsWrapperTwo{
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}